Source: gwaei
Section: gnome
Priority: optional
Maintainer: Norbert Preining <preining@debian.org>
Build-Depends: libcurl4-gnutls-dev, libgtk-3-dev (>= 3.3.0), gnome-doc-utils, debhelper (>= 7), libncurses5-dev, libncursesw5-dev, imagemagick, intltool, rarian-compat, gsettings-desktop-schemas, libhunspell-dev, libmecab-dev, dh-autoreconf
Standards-Version: 3.9.5
Homepage: http://www.zacharydovel.com/software/gwaei

Package: gwaei
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: fonts-kanjistrokeorders, mecab-ipadic, hunspell-en-us
Description: Japanese-English Dictionary for GNOME
 gWaei is an easy to use and yet powerful full-featured
 dictionary program for Japanese to English translation.
 It organizes results by relevance, supports regex searches,
 tabs, spell checking, kanji handwriting recognition and
 an accompanying console version for searches through
 the terminal.

Package: libwaei2
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Japanese-English Dictionary for GNOME
 gWaei is an easy to use and yet powerful full-featured
 dictionary program for Japanese to English translation.
 It organizes results by relevance, supports regex searches,
 tabs, spell checking, kanji handwriting recognition and
 an accompanying console version for searches through
 the terminal.
 .
 This package contains the shared library libwaei.

Package: libwaei-dev
Section: libdevel
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libwaei2 ((>= ${source:Version}), libwaei2 (<< ${source:Version}.1~)
Description: Japanese-English Dictionary for GNOME
 gWaei is an easy to use and yet powerful full-featured
 dictionary program for Japanese to English translation.
 It organizes results by relevance, supports regex searches,
 tabs, spell checking, kanji handwriting recognition and
 an accompanying console version for searches through
 the terminal.
 .
 This package contains the development files.
